# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

#trainig data
cars_train/*
archives/*
*.jpg
car_devkit.tgz
cars_train.tar

#docs & stuff
docs/*

#windows misc files
desktop.ini

.ipynb_checkpoints/car_b_finder-checkpoint.ipynb
